body {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container {
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 50px;
}
.body{
    background-image: linear-gradient(to right, rgb(14, 10, 15), rgb(74, 38, 109), rgb(78, 35, 117)); margin: 0; font-family: Arial, sans-serif;
    display: block;
}
.container h1 {
    font-size: 16px;
}

.Playlist-Destaque {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.traco {
    width: 5px;
    height: 50px;
    background-color: rgb(176, 59, 206);
    border-radius: 5px;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.playlist-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.playlist-item {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    background-image: linear-gradient(to right, rgb(53, 32, 58), rgb(57, 29, 73), rgb(36, 30, 56));
    width: 180px;
    height: 250px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 15px;
}

.playlist-item h5 {
    text-align: center;
}
img:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease;
    }

.vazio{
    height: 225px;
}

    .footer-content {
    display: flex;
    background-color: black;
    color: ghostwhite;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0%;
    }