body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #3b0066, #0a0844);
    color: white;
}

.topo h1 {
    margin: 25px;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conteudo {
    width: 90%;
    margin: auto;
}

.conteudo h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.card h3 {
    margin: 12px 0 3px;
    font-size: 16px;
}

.card p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}