body {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container {
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 50px;
}
.body{
    background-image: linear-gradient(to right, rgb(14, 10, 15), rgb(74, 38, 109), rgb(78, 35, 117)); margin: 0; font-family: Arial, sans-serif;
    display: block;
}
.container h1 {
    font-size: 16px;
}
.Playlist-Destaque {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.main{
    display: flex;
}
.letra{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    color: ghostwhite;
}
.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 20px;
    gap: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.audio-player:hover {
        background-color: transparent;
}
.imagem{
    margin-left: 600px;
    margin-top: 30px;
    margin-right: 30px;

}